.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  border: 1px solid black;
  border-radius: 5px;
  height: 40vh;
  width: 65vw;
  background-color: rgb(246, 246, 246);
}

button {
  margin: 0 40px;
  padding: 13px;
  color: white;
  border-radius: 4px;
}
